body {
  background-color: #006699;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin: auto;
}

h1 {
  font-size: 39px;
  color: lime;
  text-align: center;
  margin-left: 20px;
}
h2 {
  font-size: 20px;
  color: lime;
  text-align: center;
  margin-left: 20px;
}
.ttable{
  border-spacing:0px;
  border-radius: 25px;
  background: black;
  padding: 10px;
  width: 500px;
  margin-left:auto; 
  margin-right:auto;
}

.rtable{
  border-spacing:2px;
  border-radius: 25px;
  background: black;
  padding: 10px;
  font-size: 15px;
  width: 600px;
  margin-left:auto; 
  margin-right:auto;
}

.tmeta {
  font-size: 15px; 
  color: lime;
  text-align: center;
  margin-left: 20px;
  background-color: black;
  
}

.ttext {
  font-size: 13px;
  color: lime;
  text-align: center;
  margin-left: 20px;
  background-color: black;
}
.ping {
  font-size: 18px;
  text-align: center;
}
#ingred {
  text-align: left;
}
